.sidebar
{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 60px;
    bottom: 0px;
    left: 0px;
    width: 70px;
    z-index: 50;
    background-color: white;
}
.sidebar-icon
{
    height: 24px;
    width: 24px;
}
.text
{
    font-size: 10px;
}
.outer-div-sidebar-icons
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
}